// Khai báo phông chữ : fonts
$font-family-light:"Helvetica-light";
$font-family-medium:"Helvetica-medium";
$font-family-regular:"Helvetica-Regular";
$font-family-Bold:"Helvetica-Bold";
$font-size-11:11px;
$font-size-12:12px;
$font-medium:13px;
$font-size-14:14px;
$font-size-15: 15px !important;
$fontSize16: 16px !important;
$font-size-20: 20px !important;