// Chuyển tất cả  Variable Color ( khai báo màu color)
// -----------------------------------------------------------------------------------------------
$primary: #0090FF;
$white: #FFFFFF;
$graphite:#AAABAF;
$white-milk:#E1E1E1;
$color-light:#f8f9fa;
$charcoal-purple:#1F2333;
$color-button-prev-next:#C6C6C6;
$color-link-new:#000000;
$color-list-link-new:#070707;
$color-background-dong-y:#0080CE;
$color-background-gioi-tinh:#0AB3AF;
$color-background-tam-ly:#E4A211;
$color-background-lam-dep:#32B336;

