#menu {
    padding-top: 15px;
    background: $charcoal-purple;
    font-size: $font-medium;
    color: $white-milk;

    .infor {
        padding-right: 50px;
    }

    .col-12 {
        padding-right: 0;

        .submenu {
            margin-top: 5px;

            .nav-item {
                list-style-type: square !important;
                color: $primary;
                padding-top: 15px;

                a {
                    color: $white;
                }

                ul {
                    padding: 0;
                    list-style: none;

                    li {
                        padding-top: 16px;

                        a {
                            color: $graphite;
                            list-style: none;
                        }

                        &:hover a {
                            text-decoration: none;
                            color: $primary;
                        }
                    }
                }

            }

        }
    }
}