#new-hot {
    .latest-news {
        .first-new-hot {
            .img-new-hot {
                @include hiden-not-image-product;

                img {
                    width: 100%;
                    @include img-responsive;
                }
            }

            .content-new-hot {
                a {

                    color: $color-link-new;
                    font-size: $font-size-15;
                }

                &:hover a {
                    text-decoration: none;
                    color: $primary;
                }

                p {
                    font-family: $font-family-light;
                    font-size: $font-size-14;
                }
            }
        }


        .link-new-hot {
            padding-left: 20px;

            ul {
                .nav-item {
                    @include nav-item;
                    padding: 0;

                    a {
                        color: $color-link-new;
                        @include display-line-10;

                    }

                    &:hover a {
                        text-decoration: none;
                        color: $primary;
                    }
                }

            }
        }
    }

    .list-link-new {

        ul {
            list-style: none;

            .nav-item {
                border-top: 1px solid #e9ecef;

                a {
                    @include display-line-20;
                    color: $color-list-link-new;

                }

                &:hover a {
                    text-decoration: none;
                    color: $primary;
                }
            }
        }
    }

    .list-quang-cao {

        .quang-cao-1,
        .quang-cao-2,
        .quang-cao-3 {
            @include hiden-not-image-product;

            img {
                @include img-responsive;
            }
        }
    }
}