#video {
    margin-top: 26px;
    padding-bottom: 15px;

    .titile-name {
        font-size: $font-size-20;

        ul {
            padding-left: 20px;

            .nav-item {
                list-style-type: square !important;
                color: $primary;

                a {
                    color: $color-link-new;
                }
            }
        }
    }

    .img-video {
        position: relative;
        @include hiden-not-image-product;

        .btn-play-video {
            width: 100%;
            @include img-responsive;
        }

        a {
            @include video;
        }
    }

    .caption {
        a {
            font-size: $font-size-15;
            color: $color-link-new;
        }

        &:hover a {
            text-decoration: none;
            color: $primary;
        }
    }

    .author {
        list-style: none;

        ul,
        a {

            font-size: $font-size-11;
            padding-left: 10%;
            padding-top: 2px;
        }
    }
}